.header{
	transition: 0.6s;
	display: flex;
	width:100vw;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.header-title p{
	padding-bottom: 10px;
	margin-top:3rem;
	font-size: 35px;
	color:white;
	font-family: "Raleway";
	font-weight: bold;
	border-bottom: 1px solid #fc077b;
	transition: 0.7s;
}
.header-title p:hover{
	color:#fc077b;
	transition: 0.7s;
	border-bottom:1px solid #fc077b;
}

.header-filters{
	width:80vw;
	margin-top:1rem;
	display: flex;
	justify-content: flex-start;
}
.header-filters label{
	color:#ececec;
	font-family: 'Poppins';
	font-size: 20px;
	margin-right: 1rem;
}
.header-filters input{
	width: 60px;
	background: #3a3b3c;
	border-radius: 12px;
	height: 2rem;
	margin-left: 1rem;
	border:none;
	color:#fc077b;
	text-align: center;
	outline: none !important;
}
.header-filters input:hover{
	transition: 0.8s;
	background: #3e4e5e;
}
.header-filters input:focus{
	transition: 0.8s;
	background: #3e4e5e;
	opacity: 1;
}
.header-filters button{
	border:none;
	outline: none !important;
	background: none;
	border-radius: 10px;
	font-size: 20px;
	font-family: "Poppins";
	color: white;
}
.header-filters button:hover{
	color:#ec4176;
	transition: 0.4s;
}